.banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; /* This will cover the area, use 'contain' to fit the whole video */
  z-index: -1;
}

/* Specific CSS for your home-page */
html, body {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 710px;
  background-size: cover;
  background-position: center;
  padding: 250px 0; /* Increased padding for more height */
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Additional styles for the search button */
.btn-large {
  padding: 15px 30px; /* Larger padding for a bigger button */
  font-size: 20px; /* Larger font size */
}

.btn-success {
  background-color: #30A483; /* Bootstrap green color */
  border-color: #30A483;
  border-radius: 12px;
  color: white;
}

.btn-success:hover {
  background-color: #E05901; /* Bootstrap green color */
  border-color: #E05901;
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

// Services Section

.service-item {
  display: flex;
  align-items: center; // Aligns icon and text vertically
  color: white;
  text-align: justify;

  // Icon styling
  i {
    font-size: 1.5em; // Adjust size as needed
    margin-right: 1em; // Adds space between icon and text
    color: white;
  }

  // Title and description styling
  .service-title {
    font-weight: bold;
    margin-bottom: 0.25em; // Small space between title and description
    margin-right: 1rem;
  }

  .service-description {
    margin-bottom: 0; // No extra space below description
  }
}

.trust-box {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;

  h3 {
    color: #30A483;
    margin-bottom: 1rem;
  }

  ul.trust-list {
    list-style: none;
    padding-left: 0;

    li {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      line-height: 1.5;
      color: #333;

      i {
        color: #30A483;
        margin-right: 0.5rem;
      }
    }
  }

  .btn {
    background-color: #6959A5;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#6959A5, 10%);
    }
  }
}

.link-to-filtered-services {
  position: absolute;
  width: 90%;
  height: 100%;
  right: 10px;
  z-index: 1000;
}
