 .card {
    border-color: #155946; /* Primary color for card borders */
  }

 .card-header {
    background-color: #30A483; /* Secondary color for headers */
    color: white;
    border-radius: 15px;
  }

 .card-title {
    color: #6959A5; /* Tertiary color for titles */
  }

 .btn-primary {
    background-color: #30A483; /* Main action color for buttons */
    border: #30A483;
    border-radius: 15px;
  }

 .btn-primary:hover {
    background-color: #E05901; /* Hover state color for buttons */
    border-color: #E05901;
    border-radius: 15px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: black
  }

  a:hover {
    text-decoration: underline;
    color: black
  }
