.services-queries {
  border: 2px solid grey;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 3em;
  border-radius: 4px;
}

.services-query-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.filter-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-button {
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.filter-dog-button,
.filter-cat-button,
.filter-kangaroo-button,
.filter-rabbit-button,
.filter-ferret-button,
.filter-snake-button,
.filter-guinea-pig-button {
  border: none;
  background: inherit;
  color: #595959;

  i {
    font-size: 1.8em;
  }

  &:hover {
    color: black;
  }
}

.btn-selected {
  color: black;
  p {
    text-decoration: underline;
    text-underline-offset: .5em;
  }
}

.services-content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.services-map-container {
  border: 2px solid grey;
}

.card-link-to-service {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-service-provider-image {
  height: 200px;
}

.card-title-and-tags {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.tag-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.card-price-and-details-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
