  <!-- Booking Form -->
    <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Edit your booking</h5>
          <%= simple_form_for([@booking], wrapper: :vertical_form, html: { class: 'form-horizontal' }) do |f| %>
            <div class="form-row">
              <div class="form-group col-md-8">
                <%= f.input :date, as: :string, label: 'Choose a date', input_html: { data: { controller: "datepicker" } }, wrapper_html: { class: 'mb-3' }, minute_step: 30 %>
                <%= f.input :start_time, as: :time, label: 'Choose a time', input_html: { class: 'form-control' }, wrapper_html: { class: 'mb-3' }, minute_step: 30 %>
              </div>
            </div>
            <%= f.button :submit, "Book Now", class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
        </div>
</div>
