<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo linking to Home Page -->
    <a class="navbar-brand" href="/">
      <%= cl_image_tag("lseu2bjrbliwklobmzmx", alt: "Logo", width: 200, crop: :scale) %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <!-- Buttons -->
        <li class="nav-item active">
          <a class="nav-link" href="/services/new">Offer my service</a>
        </li>

          <!-- User Avatar and Dropdown -->
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
          <!-- If user is authenticated -->
              <% if current_user.profile_picture.attached? %>
                <%= cl_image_tag(current_user.profile_picture.key, alt: "User Avatar", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
              <% else %>
                <!-- Default avatar image if no profile picture -->
                <img src="https://images.unsplash.com/photo-1529946825183-536c6317f60e?q=80&w=3163&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Default Avatar" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
              <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account">My Account</a>
              <a class="dropdown-item" href="/account#my-bookings">My Bookings</a>
              <% if current_user.provider? %>
                <a class="dropdown-item" href="/account#my-services">My Services</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out">Log out</a>
            </div>
          <% else %>
          <!-- If user is not authenticated -->
          <a class="nav-link avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="avatar fa-solid fa-circle-user avatar" style="color: #6459a5;"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/sign_up">Sign Up</a>
            <a class="dropdown-item" href="/users/sign_in">Log In</a>
          </div>
          <% end %>
      </li>
      </ul>
    </div>
  </div>
</div>
