.card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  overflow: hidden; /* Ensures nothing spills out of the card's rounded corners */
}

.card-img {
  height: 200px; /* Fixed height for image */
  background-size: contain;
  background-position: center;
}

.card-header {
  background-color: #30A483; /* Secondary color for headers */
  color: white;
  border-radius: 15px;
}

.card-title {
  margin: 0; /* Removes default margin */
  color: #6959A5; /* Tertiary color for titles */
}

.card-body {
  background-color: white; /* Ensures white background below the image */
}

.card-container {
  display: flex;
  overflow: hidden;
  width: calc(350px * 4); /* Assuming each card is 250px wide */
  scroll-behavior: smooth;
}

.card-container .card {
  flex: 0 0 250px; /* flex-basis of 250px */
  margin: 0 10px; /* Adjust margin as needed */
}

// Pet Card (account)
.pet-card {
  // Ensure the card does not expand with content
  width: 100%;
  max-width: 540px; // Adjust as needed

  // Styling for the card itself
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; // Classy border-radius
  overflow: hidden; // Ensures that child elements do not break the rounded corners

  .pet-card-body {
    padding: 20px; // Add some padding inside the card
  }

  .card-title {
    font-size: 1.5rem; // A larger size for the pet name
    margin-bottom: .5rem; // Spacing between title and text
  }

  .card-text {
    font-size: 1rem; // Standard size for the category text
    color: #6c757d; // A soft color for the text
  }

  // Styling for the pet image
  .pet-image {
    width: 100%; // Ensure the image takes the full width of its container
    height: auto; // Keep the aspect ratio of the image
    object-fit: cover; // Cover the area without stretching the image
    border-top-right-radius: 8px; // Rounded top right corner
    border-bottom-right-radius: 8px; // Rounded bottom right corner
  }
}

.booking-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: relative;
}

.booking-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.booking-details {
  padding: 15px;
}

.booking-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.view-icon, .delete-icon {
  color: white;
  margin-left: 10px;
  font-size: 1.5rem;
}

.view-icon:hover, .delete-icon:hover {
  opacity: 0.8;
}

.card-custom {
  background: white;
  padding: 2em;
  margin-left: 0;
  border: 1px solid #D6D6D6;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add more styles as per your design requirements */
