// .navbar-hidden {
//   transform: translateY(-100%);
//   transition: transform 0.3s ease-in;
// }

// .navbar-visible {
//   transform: translateY(0);
//   transition: transform 0.3s ease-out;
// }
// .navbar-sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000; /* Ensure it stays on top of other elements */
// }

.navbar-lewagon {
  margin-bottom: 0;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-lewagon .navbar-brand img {
  width: 130px; /* Adjust this value as needed */
  height: auto; /* This maintains the aspect ratio */
}

.navbar-lewagon .container-fluid {
  display: flex;        /* Enable Flexbox */
  align-items: center;  /* Vertically center all items */
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-tabs .nav-link:hover {
  color: black; /* Change to your preferred color */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #6959A5; /* Desired hover color */
  text-decoration: none; /* Remove text-decoration */
}
